include /_mixins

doctype html
html
  head
    title Trello
    link(rel='stylesheet' href='/stylesheets/application.css')
    link(href="/font/fontello-df166f0a/css/fontello.css" rel="stylesheet")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")

  body
    #surface
    .window-overlay.invisible
      .window
    .pop-over

    +javascript_include_tag("application") 
    +javascript_include_tag("models/list", "models/board", "models/card", "models/activity", "models/comment", "models/user")
    +javascript_include_tag("collections/list", "collections/activities", "collections/comments", "collections/cards")
    +javascript_include_tag("views/board", "views/card_list_item", "views/edit_card", "views/header", "views/list", "views/quick_edit_card", "views/board_menu", "views/add_list", "views/delete_card", "views/copy_card", "views/labels", "views/move_card", "views/move_list", "views/copy_list")
    script(type="text/javascript").
      App.board = new Board(!{JSON.stringify(default_board)});   
    +javascript_include_tag("router")
    block scripts