<div class="board-wrapper">
  <div class="board-main-content">
    <div id="board_nav">
      <div id="board_settings">
        <h1>{{title}}</h1>
        <div id="privacy_status">
          <span id="privacy"></span>
          <i class="icon-star"></i>
          <span>Private</span>
        </div>
      </div>
      <div id="open_board_menu">
        <span>...</span>
        <a href="#">Show Menu</a>
      </div>
    </div>
    <div id="board">
      <div id="board_canvas">
      </div>
    </div>
  </div>
</div>