<div id="board_menu">
  <div class="board_menu_header wrapper">
    <h2>Menu</h2>
    <a href="#" id="close_menu"><i class="icon-cancel"></i></a>
    <hr>
  </div>
  <div class="side_menu_activity">
    {{> activity}}
  </div>
</div>  