{{#if labels}}
  <div class="card_item_labels_display">
{{#each labels}}
  <span class="label_{{this.color}}"></span>
{{/each}}
  </div>
{{/if}}
<p>{{title}}</p>
<div class="card_icons">
{{#if subscribed}}
<span><i class="icon-subscribe"></i></span>
{{/if}}
<!--   {{#if due_date}}
<i class="icon-duedate"></i>
{{/if}} -->
{{#if description}}
<span><i class="icon-description" title="This card has a description."></i></span>
{{/if}}
{{#if cardComments}}
<span><i class="icon-comment" title="Comments"></i>{{cardComments}}</span>
{{/if}}
<!--   {{#if attachments}}
<i class="icon-attachment"></i>
{{/if}} -->
{{#if checklists}}
<span title="Checklist items"><i class="icon-checkbox"></i></span>
{{/if}}
</div>
