<div class="copy_list_popup card_menu_popup">
  <div class="card_menu_popup_header"><h5>Copy List</h5><i class="icon-cancel"></i></div>
  <hr>
    <form autocomplete="off" method="" action="">
        <textarea class="copy_list_title_text" style="overflow: hidden; word-wrap: break-word; resize: none; height: 108px;">{{title}}</textarea>
    </form>
    <div class="submit_info_button selected copy_submission">
      Create List
    </div>        
  </div>
</div>