<div class="delete_card_popup card_menu_popup">
  <div class="card_menu_popup_header"><h5>Delete Card?</h5><i class="icon-cancel"></i></div>
  <hr>
    <p>All actions will be removed from the activity feed and you won’t be able to re-open the card. There is no undo.</p>
    <div class="submit_info_button warning delete_confirmation">
      Delete
    </div>        
  </div>
</div>
