<div id="full_page">
  <div id="header">
    <div id="board_info">
      <div id="search_input_wrapper">
        <input type="text" id="search_input" name="search_input" spellcheck="false" dir="auto" value="{{title}}" style="overflow: hidden; word-wrap: break-word;"><i class="icon-search"></i>
      </div>
    </div>
    <div class="logo">
      <span>
        <a href="#"><img src="/images/header-logo-2x.png"></a>
      </span>
    </div>  
    <div id="account_info">
    <span class="wrapper initials_header">{{initials}}</span>      
      <div id="profile_settings">
        <span class="username_header">{{username}}</span>
      </div>
    </div>    
  </div>
</div>