<div class="list_content_wrapper wrapper">  
  <a href="#" class="list_title_header">
    <div class="list_header">
      <h3 class="list_title">{{title}}</h3>
      {{#if subscribed}}
      <i class="icon-subscribe"></i>
      {{/if}}
      <i class="icon-ellipsis"></i>
    </div>
  </a>
  <div class="invisible new_list_title_input">
    <input type="text" id="new_list_name" name="new_list_name" autofocus spellcheck="false" dir="auto" maxlength="512" value="{{title}}" style="overflow: hidden; word-wrap: break-word; height: 24px;">
  </div>
  <a href="" class="get_more_options"><i class="ellipsis"></i></a>
  <ul class="list_container" data-id="{{id}}"></ul>
  <div class="add_card_composer invisible">
    <form action="/board/{{id}}/items", method="post" class="addCardForm" autocomplete="off">
      <input class="card" id="new_card_name" name="title" autofocus>
      <div>
        <a href="" class="submit_info_button selected submit_new_card"><div>Add</div></a>
        <i class="icon-cancel card-composer"></i>
        <a href="" class="get_more_options"></a>
      </div>
    </form>
  </div>
  <a href="" class="add_card submit_info_button">Add a card...</a>
</div>
<div class="wrapper card_menu_popup menu-popover list_options_popup invisible">
  <div class="card_menu_popup_header">
    <h5>List Actions</h5><i class="icon-cancel list-actions"></i>
  </div>
  <hr>
  <div class="list_action_options">
    <div class="list_options_add_card">
      Add Card...
    </div>
    <div class="list_options_copy">
      Copy List...
    </div>
    <div class="list_options_move">
      Move List...
    </div>
    <div class="list_options_subscribe">
      Subscribe
    </div>  
    <hr>
  </div>
</div>