.pop-over
  display: none
  overflow: hidden
  position: absolute
  right: -9999px
  top: -999px
  z-index: 70

.card_menu_popup_header
  width: 100%
  position: relative
  h5
    text-align: center
  i
    position: absolute
    top: -10px
    right: -10px
    padding: 10px

.pop-over.is-shown
  display: block  
  background: #fff 
  min-height: 100px
  min-width: 260px
  top: auto
  left: auto
  right: 200px
  bottom: 10px
  padding: 10px
  box-sizing: border-box
  box-shadow: 0 1px 6px rgba(0,0,0,.15)
  border-radius: 3px

.pop-over.menu-popover
  menu_popup_wrapper()
  .menu_button
    menu_button()
  .submit_info_button
    margin: 0 auto

.submit_info_button.selected
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
  box-shadow: 0 1px 0 #3F6F21
  color: #fff
  &:hover
    background: linear-gradient(to bottom,#5AAC44 0,#519839 100%)
    cursor: pointer

.setting.menu_button
  background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
  box-sizing: border-box
  border: 1px solid #E2E4E6
  border-bottom-color: #CDD2D4
  cursor: pointer
  display: inline-block
  margin-right: 12px
  margin-bottom: 12px
  font-weight: 700
  max-width: 300px
  overflow: hidden
  padding: 7px
  user-select: none
  height: 50px
  &:hover
    cursor: pointer
    color: colors.primary.default    
    border-color: #298FCA #298FCA #026AA7
    background: #298FCA   
  .list_select_options,
  .position_select_options
    border: none
    cursor: pointer
    height: 50px
    left: 0
    margin: 0
    opacity: 0
    position: absolute
    top: 0
    z-index: 2
    width: 100%
  span.label
    display: block
    color: #8c8c8c
    font-size: 10px
    &:hover
      color: #fff

.all_lists_dropdown_placeholder,
.all_positions_dropdown_placeholder
  position: relative
  display: inline-block
  width: 45%

.list_options_popup
  position: absolute
  top: 20px
  left: 250px
  z-index: 1
  width: 300px
  menu_popup_wrapper()

.pop-over.search
  background: #e2e4e6
  color: #4d4d4d
  top: 30px
  left: 200px
  display: block
  min-height: 100px
  max-height: 250px
  overflow: hidden
  width: 260px
  padding: 10px
  box-sizing: border-box
  ul
    height: 100%
    overflow-y: auto
    flex: 1 1 auto
  li
    background: colors.primary.default
    margin: 10px
    width: 200px

.select
  max-height: 300px  

.warning.delete_confirmation
  color: #B04632
  width: 100%
  margin-right: 10px
  margin-top: 16px
  box-sizing: border-box
  background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%)
  box-shadow: 0 1px 0 #959DA1
  text-align: center
  &:hover
    background: linear-gradient(to bottom,#CF513D 0,#B04632 100%)
    box-shadow: 0 1px 0 #4d4d4d
    color: #fff 